/*global*/
html, body {
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}
body {
    padding-bottom: 50px;
}


.row {
    padding-right: 0px;
    margin-right: 0px;
}
#site-container {
    background-color: #778DA9;
    background: -webkit-linear-gradient(left, #778DA9, #C3BCBC, #778DA9);
    background: -o-linear-gradient(left, #778DA9, #C3BCBC, #778DA9);
    background: linear-gradient(to right, #778DA9, #C3BCBC, #778DA9);
    margin: auto;
    border-radius: 5px;
    color: #2A3F69;
}
.content {
    padding-top: 5px;
    padding-bottom: 100px;
    min-height: 80vh;
    font-size: 1em;
}
.content .well {
    background-color: #F9F4F5;
    color: #2A3F69;
}

/*navigation*/

.header {
    color: #F9F4F5;
    background-color: #2A3F69;
    border: 1px solid transparent;
    border-radius: 5px;
}
nav img {
    height: 50px;
}
.nav .dropdown-menu {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.nav .dropdown-menu>li>a, .footer>li>a, a.navbar-brand {
    color: #F9F4F5 !important;
    background-color: #2A3F69;
}

.navbar-nav a {
    color: #F9F4F5;
    border: 1px solid transparent;
    border-radius: 5px;
}

.footer .navbar-nav{
  background-color: #2A3F69;
}

/*Carousel*/

#press_carousel {
    background-image: none;
    margin: 5px;
    border-top: 1px solid #D8DBE2;
    border-bottom: 1px solid #D8DBE2;
    border-radius: 5px;
    padding: 5px 0px;
}
.carousel .item {
    /*height: 300px;*/
}
.carousel-inner .item img {
    /*height: 300px;
position: relative;
top: 50%;
transform: translateY(-50%);*/
}
.carousel-control.left, .carousel-control.right {
    background: none !important;
}
.avion {
    padding: 10px 0px;
}
.copyright {
    width: 100%;
}
.footer {
    color: #D8DBE2;
    background-color: #2A3F69;
    position: fixed;
    bottom: -1;
    width: 100%;
}

.footer a:hover{
  color: #D8DBE2;
  background-color: #2A3F69;
}
.nav .active a{
    color: #2A3F69 !important;
    background-color: #D8DBE2 !important;
    border: 1px solid transparent;
    border-radius: 5px;
}

/*helper class*/

.nopadding {
    padding: 0px !important;
}
.tab_to_right {
    margin-left: 30px;
}
.tab_to_left {
    margin-left: -30px;
}
.rotate_180{
  transform: rotate(180deg);
}

.rotate_90R {
    transform: rotate(90deg);
}
.rotate_5L {
    transform: rotate(-5deg);
}
.rotate_5R {
    transform: rotate(5deg);
}

.flip_LR{
  transform: scaleX(-1);
}

.flip_TB{
    transform: scaleY(-1);
}

.text, .avion>div>p {
    margin: 10px 10px;
}

.text-underline {
  text-decoration: underline;
}

.nofooter {
    padding-bottom: 0px !important;
}

/*@media (max-width:767px) {
    .navbar-header {
        float: left;
    }
    .navbar-nav {
        float: right;
    }
}*/

/*Tablets and desktop*/

@media(min-width:768px) {
    nav {
        padding: 10px;
        margin: auto;
    }

    .navbar-nav a:hover,  {
        color: #2A3F69 !important;
        background-color: #D8DBE2 !important;
        border: 1px solid transparent;
        border-radius: 5px;
    }
    .nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:focus, .nav .dropdown-menu>li>a:focus {
        color: #2A3F69 ;
        background-color: #D8DBE2;
        border: none;
    }
}

/*phones*/

@media(max-width: 767px) {
    .header {
        color: #F9F4F5;
        background-color: #2A3F69;
        border: 1px solid transparent;
        border-radius: 5px;
    }
    .navbar-nav a {
        color: #F9F4F5;
    }
    .nav .open>a, .nav .open>a:focus, .nav>li>a:focus, .nav .dropdown>li>a:focus, .nav .dropdown-toggle>li>a:focus {
        color: #F9F4F5 !important;
        background-color: transparent !important;
        border: 1px solid #778DA9 !important;
    }
}
